/* VARIABLES */
:root {
	--primary: #2c3e50;
	--secondary: #ecf0f1;
	--accent: #fcdb5f;
	--accent-highcontrast: #f1c40f;
	--white: #ffffff;
	--black: #000000;
	--site-bg: #f9f9f9;
	--overlay-color:  #474a4c;
}

/* RESETS */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
	animation-duration: 0.01ms !important;
	animation-iteration-count: 1 !important;
	transition-duration: 0.01ms !important;
	scroll-behavior: auto !important;
  }
}

/* Utilities */


/* Global Styles */

html {
	font-size: 16px;
	font-family: sans-serif;
	background-color: var(--site-bg);
}

body {
	max-width: 1366px;
	margin: auto; 
}

a {
	color: var(--primary); 
	font-weight: bold;
}

a:hover {
	color: var(--accent-highcontrast); 
}
	
/* Header */

.page-header {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 10;
	padding: .5rem;
	background-color: var(--site-bg);
	box-shadow: 0px 3px 3px -3px rgba(0,0,0,.15);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-logo {
	max-height: 4rem;
}

.header-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-menu nav {
	margin-right: 1.5rem;
}

.header-menu nav a {
	padding: 1.5rem .75rem;
	text-decoration: none;
	font-weight: 500;
}

.call-button {
	padding: .5rem .75rem;
	border: none;
	border-radius: 4px;
	background: var(--accent);
	line-height: 1;
}

/* Hero */
.hero {
	position: relative;
}

.hero-bg {
	max-height: 38rem;
}

.hero-overlay {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: var(--overlay-color);
	opacity: .5;
}

.hero-content {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	width: 80%;
	height: 50%;
	margin: auto;
	text-align: center;
}

.hero-content img {
	margin: auto;
}

.hero-content h2 {
	color: var(--white);  
	margin-top: 1.5rem;
	font-size: 4em;
	text-transform: uppercase;
}

/* Content Sections */
.content-section {
	min-height: 12rem;
	padding: 2.5rem;
	background: var(--secondary); 
}

.content-section:nth-child(even) {
	background: var(--primary);
	color: var(--secondary);
}

.content-section p {
	font-size: 1.25em;
	line-height: 1.5; 
}

/* Services */

#services {
	display: flex;
	justify-content: space-between;
	align-items: start;
	flex-wrap: wrap;
}

.service-box {
	position: relative;
	width: 48%;
	margin-bottom: 2em;
	background: var(--primary);
	color: var(--white);
	box-shadow: 1px 2px 6px 2px rgba(0,0,0,.15);
}

.service-box-img {
	height: 18.5rem;
	width: 100%;
}

.service-box-header {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	margin: 0;
	padding: 1rem .5rem;
	background: rgba(52, 73, 94, 0.66);
	text-align: center;
	text-transform: uppercase;
	font-size: 1em;
}

.service-box-content {
	min-height: 12rem;
	padding: 1rem;
	margin: 0;
}

.service-box-content p {
	font-size: 1.125em;
}

.service-box-content ul {
	padding-left: 1.5rem;
}

.service-box-content li {
	font-size: 1em;
}

/* Testimonials */

#testimonials {
	text-align: center; 
	min-height: 20rem;
}

.testimonials-header {
	margin: 0;
	text-transform: uppercase;
}

wc-carousel-lite {
	display: block;
	width: 500px;
	max-width: 80%;
	margin: auto;
}

.testimonial-slide {
	width: 500px;
	max-width: 100%;
	margin-bottom: 2rem;
}

.testimonial-text {
	margin-top: 3rem;
	font-size: 1.25em;
}

.testimonial-author {
	display: block;
	margin-top: 1rem;
	color: var(--accent);
	font-size: 1.25em;
}

.slider-button {
	padding: .25rem .5rem .125rem;
	border: none;
	border-radius: 50%;
	background: var(--white);
	opacity: .5;
}

.slider-button:hover {
	opacity: 1;
}

/* Contact Form */

#contact form { 
	width: 80%;
	padding: 4rem;
	margin-top: 2rem;
	margin-left: auto; 
	margin-right: auto;
	background: white; 
	border-radius: .5rem;
	box-shadow: 1px 2px 6px 2px rgba(0,0,0,.15);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 1.5rem;
}

.form-field {
	width: 100%;
	display: grid;
	grid-template: auto / 1fr 4fr;
	gap: .5rem;
}

.form-field * {
	max-width: calc(100% - .5rem);
}

.form-field textarea {
	width: 100%;
}

#contact button[type="submit"] {
	width: 100%;
	padding: .5rem;
	border: none;
	border-radius: .75rem;
	background: var(--primary);
	color: var(--white);
	font-weight: 600;
	text-transform: uppercase;
}

/* Footer */

.page-footer { 
	padding-bottom: 1.5rem;
	background: var(--primary);
	color: var(--secondary);
	text-align: center; 
}

.social-bar {
	padding: 2rem;
	background: var(--accent);
	color: var(--primary);
	font-size: 1.25rem;
}

.social-links {
	width: 4rem;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.social-links a {
	color: var(--primary);
	text-decoration: none;
	font-size: 2rem;
}

.social-links a:hover {
	color: var(--white);
}

.footer-logo {
	margin: 1.5rem auto 1rem;
}

.copyright {
	font-size: .75em;
}
